
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin-left: 20% ;
  margin-right: 20% ;}

ol, ul {
  padding-left: 30px;
}
.x_pic {
  width: 75px;
}
.o_pic {
  width: 110px;
}
.thestatus {
  color:#14ad0e;
}
.gameheader {
  color: #630d85;
}

.board-row {
margin-left: 26%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.movesbutton {
  list-style-type: none;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 120px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/* .game {
  display: flex;
  flex-direction: row;
} */


.game-info {
  margin-left: 30%;
}