
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  }

ol, ul {
  padding-left: 30px;
}
.x_pic {
  width: 50%;
  /* center the pic in the square */
  position: absolute;
  display:block;
  margin-left:20%;
}
.o_pic {
  width: 80%;
  position: absolute;
  display:block;
  margin-left:5%;
  margin-top: 3%;
}
.thestatus {
  color:#14ad0e;
}
.gameheader {
  color: #630d85;
}

.board-row {
margin-left: 26%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.movesbutton {
  list-style-type: none;
}

.status {
  margin-bottom: 10px;
}

.square { 
  background: #fff;
  border: 1px solid #999;
  float: left;
  margin-top: -1px;
  box-align: center;
  width: 30%;
  position: relative;


}
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/* .game {
  display: flex;
  flex-direction: row;
} */


/* .game-info {
  margin-left: 30%;
} */